<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <app-toolbar class="app-toolbar" [appName]="title"
  (toggleSidenav)="sidenav.toggle()"></app-toolbar>
  <mat-sidenav-container
    fullscreen
    class="app-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 52"

  >
  
    <mat-sidenav
      class="app-sidenav"
      #sidenav
      mode="side"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      opened
      
    >
      <mat-nav-list>
        
        <a
          mat-list-item
          routerLinkActive="active"
          *ngFor="let blogPost of blogPosts"
          (click)="setCurrentBlogPost(blogPost.id)"
          >{{ blogPost.title | uppercase }}</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="app-content">
      <div *ngIf="blogPost">
        <h1>{{ blogPost.meta.title | uppercase }}</h1>
        <markdown [data]="blogPost.content" (ready)="blogReady()" ngPreserveWhitespaces> </markdown>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
