<mat-toolbar color="primary">

    <button
      mat-icon-button
      (click)="toggleSidenav.emit()"
      class="app-menu-button"
      aria-label="Website menu icon"
    >
      <img
        class="app-icon"
        alt="icon"
        height="100"
        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250'%3E%3Cpath d='M125.2-.1v249.9l105.6-54.6 19-153.8z' fill='%230f0'/%3E%3Cpath d='M125.2-.2v27.7-.1 222.3L19.6 195.1.6 41.3z' fill='%23dd0031'/%3E%3Cpath d='M125.2 27.5L74.9 132.7H20.1V153h45.2l-8.2 17H33v20.5h43.2L93 152.8h24v-20.2h-15l23-52.2 23.3 52.2h-15.1V153h24l16.7 37.7h43.3V170h-24l-8.2-17.2h45.2v-20.2h-54.9z'/%3E%3C/svg%3E"
      />
    </button>

    <h1 class="app-name glitch">
      <span aria-hidden="true">{{ appName }}</span>
      {{ appName }}
      <span aria-hidden="true">{{ appName }}</span>
    </h1>
</mat-toolbar>
