/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';

.mat-app-background {
  object-fit: fill;
  padding: 0;
  margin: 0;
}

body .group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
