/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";

.mat-app-background {
  object-fit: fill;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url("assets/roboto.woff2") format("woff2");
}

* {
  font-family: 'Roboto', 'mono-space', sans-serif;
}


body {
  font-family: 'Roboto';
  background-color: #444;
}

a {
  color: mediumpurple;
}
